{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["IE 8"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-html-attrs", "transform-class-properties", "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}